{% extends 'core/base.html' %}

{% block content %}
<div class="error-container text-center my-5">
    <h1 class="text-warning mb-4">404 - Page Not Found</h1>
    <div class="error-message mb-4">
        <p>Oops! The page you're looking for doesn't exist.</p>
        <p>It might have been moved or deleted. Please check the URL or return to the homepage.</p>
    </div>
    <div class="mt-4">
        <a href="/" class="btn btn-primary">Go to Homepage</a>
    </div>
    <div class="mt-4">
        <p>If you believe this is an error, please contact our support team:</p>
        <p><a href="mailto:imaletschat@gmail.com">Email Us Here</a></p>
        <p><a href="tel:+251912024786">Call Here</a></p>
    </div>
</div>
{% endblock %}